@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

body{
    padding: 0px;
    margin:0px;
    line-height: 160%;
    font-family: 'Open Sans','Source Han Sans CN', 'Hiragino Sans GB', 'Microsoft Yahei', 'Wenquanyi Microhei', sans-serif;
    font-size: 18px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div, ul, li, h1, h2, nav{
    display: block;
    padding: 0px;
    margin: 0px;
}

a{
    color: #555;
    text-decoration: none;
    transition:0.75s;
}

a:hover{
    color:#0099ff;
    transition: 0.75s;
}

wrapper{
    display: block;
    margin: 0px auto;
    width: 720px;
}

virtual{
    display: block;
    height: 1px;
    width: 100%;
}

h1{
    display: block;
    text-indent: -999px;
    overflow: hidden;
    width: 100%;
    height: 240px;
    padding: 40px 0px 0px 0px;
    background-image: url("./assets/h1_gekkan.png");
    background-position: 0px 40px;
    background-repeat: no-repeat;
}

/*h1:hover{
    background-image: url("./assets/h1_gekkan.png");
}*/

nav{
    display: block;
    height: 65px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    border-bottom-width: 0px;
    background-color: #fff; 
    font-size: 160%;
    line-height: 200%;
    font-weight: 700;
    vertical-align: text-bottom;
}

nav.is_stuck{
    border-bottom-width:1px;
}

/*nav.is_stuck{
    background-image: url("./assets/h1_gekkan.png");
    background-repeat: no-repeat;
    background-position: center right;
}
*/

nav ul li{
    list-style: none;
    display: block;
    margin: 0px;
    padding: 0px;
    height: 65px;
    float: left;
    vertical-align: text-bottom;
}


nav ul li a{
    display: block;
    width: 5em;
    vertical-align: text-bottom;
}

nav ul li.logo a{
    width: 65px;
    text-indent: -999px;
    overflow: hidden;
    display: none;
    background-image: url('./assets/kagami_2014_l.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin-right: 0.5ex;
    background-position: center center;
}

nav.is_stuck ul li.logo a{
    display: block;
}

nav ul li a:hover{
    color: #555;
    opacity: 0.6;
}

li.pr a:hover::first-letter{
    color: #00aeef;
}

li.act a:hover::first-letter{
    color: #f68e56;
}

li.contact a:hover::first-letter{
    color: #8dc63f;
}


li.blog a:hover::first-letter{
    color: #f06eaa;
}

li.blog a:hover:after{
    content: "\f14c";
    font-family: 'FontAwesome';
    vertical-align: top;
    font-size: 60%;
    padding-left: 0.25ex;
    font-weight: 400;
}

/*A hack for Firefox Aurora 32*/
li.pr a:hover:after{
    content: "";
}

li.act a:hover:after{
    content: "";
}

li.contact a:hover:after{
    content: "";
}

/*hack end*/

h2{
    text-indent: -999px;
    overflow: hidden;
    height: 70px;
    display: block;
    width: 100%;
}

#gravatar{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto;
    display: block;
    border: 1px solid #f1f1f1;
    margin-bottom: 2em;
}

dl{
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}

dt, dd{
    padding: 0px;
    margin: 0px;
    float: left;
    line-height: 200%;  
}

dt{
    width: 30%;
}

dt:after{
    content: ":";
}

dd{
    width:70%;
    border-bottom: solid 1px #ccc; 
}

pr{
    display: block;
    font-size: 160%;
    margin-bottom: 1em;
    line-height: 200%;
}

prlist{
    display: block;

}



project{
    display: block;
}

network{
    display: block;
    height: 300px;
}

node a{
    display: block;
    float: left;
    width: 45%;
    height: 70px;
    margin:10px;
}

node a:hover{
    cursor:pointer;
}

copyright{
    display: block;
    padding: 10px 0;
    margin-top: 2em;
    border-top: #ccc 1px solid;
    width: 100%;
}

project{
    display: block;
    width: 100%;
    float: left;
    height: 6em;
}

i{
    width: 1em;
    text-align: center;
    height: 1.6em;
    display: inline-block;
}

/*Responsive part*/

@media screen and (max-width: 720px){
    
    body{
        font-size: 4vw;
    }

    wrapper{
        width: 90%;
    }

    h1{
        background-size: contain;
        margin: 5vh 0 0 0;
        padding: 0 0 0 0;
        background-position: 0 0;
        height: 90px;
        height: 12vh;
    }

    nav{
        font-size: 200%;
        line-height: auto;
    }

    nav ul li{
        height: 70px;
    }

    nav ul li a{
        overflow: hidden;
        width: 1.6em;
        height: 2em;
    }

    nav ul li a:before{
        padding-right: 999em;
        display: inline-block;
        font-family: 'FontAwesome';
    }

    .pr a:before{
        content: "\f007";
    }

    .pr a:hover{
        color: #00aeef;
    }

    .act a:before{
        content: "\f135";
    }

    .act a:hover{
        color: #f68e56;
    }

    .contact a:before{
        content: "\f198";
    }

    .contact a:hover{
        color: #8dc63f;
    }

    .blog a:before{
        content: "\f19a";
    }

    .blog a:hover{
        color: #f06eaa;
    }

    pr{
        font-size: 100%;
    }

    dt{
        width: auto;
        float: none;
    }

    dd{
        width: auto;
        float: none;
        padding-left: 10%; 
    }

    node a{
        width: 100%;
        height: auto;
    }

    network{
        height: auto;
    }

    copyright{
        float: left;
    }
}

